/************************
 * MAIN CSS STYLING
 ************************/

 .item img {
 	position: relative;
 }

.item .owl-content {
	position: absolute;
	width: 100%;
	padding: 10px;
	bottom: 0px;
	left: 0px;
}
